@model IEnumerable<Personal_Portfolio2.Models.Project>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Projects";
}
<h2>Manage Projects</h2>

<p>@Html.ActionLink("Create New Project", "Create", "Projects", null, new { @class = "btn btn-success" })</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Title</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Projects", new { id = p.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Projects", new { id = p.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Projects", new { id = p.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
