@model Personal_Portfolio2.Models.Project
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Project";
}


@section Styles {
    <link href="~/Content/Edit.css" rel="stylesheet" />
}

<div class="edit-project-container">

    <div class="edit-project-header">
        <h2>Edit Project</h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-container">

            @Html.ValidationSummary(true, "", new { @class = "validation-summary-errors" })

            @Html.HiddenFor(m => m.Id)

            @Html.EditorForModel()

        </div>

        <div class="button-section">
            <button type="submit" class="btn-primary">Update Project</button>
            @Html.ActionLink("Cancel", "Projects", "Admin", null, new { @class = "btn-link" })
        </div>
    }

</div>